/* REUSABLES */

/*
SOLID COLOR:#d35400
*/

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Lato', "Ariel", "sans-serif";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2,
h3 {
    margin: 0;
    padding: 0;
}

section {
    display: block;
    padding: 80px 0;
}

section:nth-child(odd) {
    background-color: #f4f4f4;
}

.rows {
    max-width: 1140px;
    margin: 0 auto;
}

.rows-container {
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.rows-nc {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

h2 {
    font-size: 200%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #d35400;
    width: 200px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

h3 {
    font-weight: 700;
}

h3:hover {
    color: #d35400;
}

/************************** 
HEADER 
**************************/

.home {
    color: #fff;
    height: 100vh;
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(https://images.unsplash.com/photo-1515847049296-a281d6401047?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3b6e1f961ac91b583c605c09e998166&auto=format&fit=crop&w=1050&q=80);
    background-image:-moz-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(https://images.unsplash.com/photo-1515847049296-a281d6401047?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3b6e1f961ac91b583c605c09e998166&auto=format&fit=crop&w=1050&q=80);
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://images.unsplash.com/photo-1515847049296-a281d6401047?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3b6e1f961ac91b583c605c09e998166&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    /*       background-position: center; */
    background-attachment: fixed;
}

.padding-bot {
    padding-bottom: 0;
}

.brand-container {
    display: inline-block;
    padding-top: 16px;
}

.brand-container2 {
    display: inline-block;
    padding-top: 37px;
}

.logo {
    font-size: 120%;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
    height: auto;
    text-decoration: none;
}

.logo:hover,
.logo:active {
    text-decoration: none;
    color: #d35400 !important;
}

.logo:focus {
    text-decoration: none;
    -webkit-transition: 600ms;
    transition: 600ms;
    color: #fff !important;
}

.button-margin {
    margin-top: 30px;
}

#nav-button {
    border-color: #ddd;
}

.navbar-style {
    background-color: #1c1c1c;
    border-color: black;
    opacity: 0.9;
    -webkit-box-shadow: 0 2px 2px black;
    -moz-box-shadow: 0 2px 2px black;
    box-shadow: 0 2px 2px black;
}

#navbar-one {
    z-index: 101;
}

.navbar {
    padding: 0;
    border-radius: 0;
    min-height: 69px;
}

.top-navbar-one {
    z-index: 100;
}

.navbar-brand {
    padding: 0;
}

.nav-menu a {
    color: #fff;
    padding-right: 10px;
}

.nav-menu a:hover,
.nav-menu a:active {
    border-bottom: 2px solid #d35400;
}

.js--nav-list {
    padding-top: 25px;
}

.js--nav-list li {
    margin-right: 5px;
    font-size: 110%;
}

.js--nav-list li a {
    display: inline-block;
}

.nav-menu li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 55px;
    width: auto;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: none;
}

.nav-menu {
    letter-spacing: 1.5px;
    padding-bottom: 12px;
    /*    text-transform: uppercase;*/
}

.js--first-nav a {
    color: #fff;
}

.js--first-nav ul:focus,
.js--first-nav ul:hover,
.js--first-nav ul:active {
    text-decoration: none;
    background-color: none !important;
}

.head-main {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.head-main h1 {
    letter-spacing: 1.5px;
    font-size: 300%;
    color: #eee;
}

.orange {
    color: #d35400;
}

.underline {
    border-bottom: 2px solid #d35400;
}

.arrow-container {
    font-size: 250%;
    position: relative;
    top: 65vh;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.arrow-container a i {
    color: rgb(238, 238, 238);
    padding: 0 10px;
    border: 2px solid #eee;
    border-radius: 45%;
}

.arrow-container a:link,
.arrow-container:focus,
    {
    text-decoration: none;
}

/* Animation */

.arrow-container {
    -webkit-animation-duration: 1.75s;
    -moz-animation-duration: 1.75s;
    animation-duration: 1.75s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/************************** 
About Section
**************************/

.user-image {
    text-align: center;
}

.user-image img {
    width: 50%;
    max-width: 360px;
    border-radius: 50%;
    padding-bottom: 20px;
}

.user-image-label {
    display: block;
    padding: 10px;
    text-transform: Uppercase;
}

.user-image-label:first-of-type {
    font-size: 150%;
}

/* animation */

.about-head {
    -webkit-animation-duration: 1.75s;
    -moz-animation-duration: 1.75s;
    animation-duration: 1.75s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}

.user-image {
    -webkit-animation-duration: 1.75s;
    -moz-animation-duration: 1.75s;
    animation-duration: 3s;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    animation-delay: .6s;
}

/************************** 
SKILLS SECTION
**************************/

.skill-image img {
    width: 80%;
}

.no-pad-right {
    top: 5px;
    padding: 0;
    right: 26px;
}

#bootstrap-logo {
    width: 146%;
}

.skills-text-field {
    padding-top: 20px;
}

/************************** 
PORTFOLIO SECTION
**************************/

#portfolio img {
    width: 100%;
    max-width: 460px;
    text-align: center;
}

#portfolio a:link,
#portfolio a:active {
    text-decoration: none;
    border: none;
    color: #333;
}

/************************** 
Contact-Footer Section
**************************/

.footer-con {
    padding: 20px 0 10px;
}

footer {
    background-color: #333;
}

.footer-section,
.footer-section p {
    color: #eee;
}

.social-list {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.social-list li {
    float: left;
    padding: 10px 20px;
    font-size: 200%;
}

.social-list li a {
    color: #6e6e6e;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: #3b5998;
}

.ion-social-github:hover,
.ion-social-github:active {
    color: #050505;
}

.ion-social-linkedin:hover,
.ion-social-linkedin:active {
    color: #007bb5;
}

.ion-fireball:hover,
.ion-fireball:active {
    color: darkgreen;
}

.resume-btn-con {
    padding-bottom: 15px;
}

.resume-btn {
    background: none;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    border-style: none;
    border: solid 2px #4c4c4c;
    color: #eee;
}

.resume-btn:link,
.resume-btn:active {
    text-decoration: none;
}

.resume-btn:hover,
.resume-btn:focus {
    color: #eee;
}

.resume-btn:hover,
.resume-btn:active {
    border-color: #d35400;
}

.resume-btn a {
    color: #eee;
    text-decoration: none;
}

.resume-btn a:hover,
.resume-btn a:active {
    text-decoration: none;
}

/************************** 
JavaScript Animations
**************************/

.js--wp0 {
    opacity: 0;
}

.js--background-visible {
    background-color: #1c1c1c;
    border-color: black;
    -webkit-transition: 1000ms;
    -moz-transition: 1000ms;
    transition: 1000ms;
    -webkit-box-shadow: 0 2px 2px black;
    -moz-box-shadow: 0 2px 2px black;
    box-shadow: 0 2px 2px black;
    z-index: 100;
}

.js--wp1 {
    opacity: 0;
}

.js--wp2 {
    opacity: 0;
}

.js--wp3 {
    opacity: 0;
}

.js--wp4 {
    opacity: 0;
}

.js--wp5 {
    opacity: 0;
}

.js--wp6 {
    opacity: 0;
}